{% extends "base.html" %}
{% load static %}
{% block content %}

    {% include "navigation_league.html" %}

    {% if not data %}
        <p>Здесь будет информация о матчах</p>
    {% else %}
    <ul>
    {% for round, matchday in data.items %}
        <li>{{ round }} - й тур</li>
        <ul>
        {% for date, time in matchday.items %}
            <li>{{ date }}</li>
            <ul>
            {% for time_match, game in time.items %}
                <li>{{ time_match }}</li>
                <ul>
                {% for match in game%}
                    <li>
                    {% if not match.homeTeam.image %}
                        {{ match.homeTeam.team }}
                    {% else %}
                        <a href="/football/team/{{ match.homeTeam.team.fc_en_name }}">
                            {{ match.homeTeam.team.fc_id_name_dictionary.club_name }}
                            <img src="/media{{ match.homeTeam.image }}" width="30px"/>
                        </a>
                    {% endif %}
                    -
                    {% if not match.awayTeam.image %}
                        {{ match.awayTeam.team }}
                    {% else %}
                        <a href="/football/team/{{ match.awayTeam.team.fc_en_name }}">
                            <img src="/media{{ match.awayTeam.image }}" width="30px"/>
                            {{ match.awayTeam.team.fc_id_name_dictionary.club_name }}
                        </a>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>

{#        <p>#}
{#        {{ match.matchday }} - й тур#}
{#        {{ match.date }}#}
{#        #}
{##}
{#        {% if not match.homeTeam.image %}#}
{#            {{ match.homeTeam.team }}#}
{#        {% else %}#}
{#            <a href="/football/team/{{ match.homeTeam.team.fc_en_name }}">#}
{#                {{ match.homeTeam.team.fc_id_name_dictionary.club_name }}#}
{#                <img src="/media{{ match.homeTeam.image }}" width="30px"/>#}
{#            </a>#}
{#        {% endif %}#}
{#        -#}
{#        {% if not match.awayTeam.image %}#}
{#            {{ match.awayTeam.team }}#}
{#        {% else %}#}
{#            <a href="/football/team/{{ match.awayTeam.team.fc_en_name }}">#}
{#                <img src="/media{{ match.awayTeam.image }}" width="30px"/>#}
{#                {{ match.awayTeam.team.fc_id_name_dictionary.club_name }}#}
{#            </a>#}
{#        {% endif %}#}

    {% endfor %}
    </ul>
    {% endif %}

{% endblock %}