{% extends "base.html" %}
{% load static %}
{% block content %}

    {% include "navigation_league.html" %}

    {% if not data %}
        <p>Здесь будет информация о матчах</p>
    {% else %}

        {% regroup data by matchday as matchdays %}

        {% for round in matchdays %}
            <table>
                <caption>{{ round.grouper }} - й тур</caption>

                {% regroup round.list by date_match as dates %}

                {% for date in dates %}
                    <tr>
                        <td>{{ date.grouper }}</td>
                    </tr>

                    {% regroup date.list by time_match as times %}

                    {% for time in times %}

                        {% for match in time.list %}
                            <tr>
                                <td>{{ time.grouper }}</td>
                                <td>
                                    {% if not match.game.homeTeam.image %}
                                        {{ match.game.homeTeam.team }}
                                    {% else %}
                                        <a href="/football/team/{{ match.game.homeTeam.team_in_db.fc_en_name }}">
                                            {{ match.game.homeTeam.team_in_db.fc_id_name_dictionary.club_name }}
                                            <img src="/media{{ match.game.homeTeam.image }}" width="30px"/>
                                        </a>
                                    {% endif %}
                                </td>
                                <td> - </td>
                                <td>
                                    {% if not match.game.awayTeam.image %}
                                        {{ match.game.awayTeam.team }}
                                    {% else %}
                                        <a href="/football/team/{{ match.game.awayTeam.team_in_db.fc_en_name }}">
                                            <img src="/media{{ match.game.awayTeam.image }}" width="30px"/>
                                            {{ match.game.awayTeam.team_in_db.fc_id_name_dictionary.club_name }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
