{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/groups.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/matches.css" %}" />
{% endblock %}
{% load summa %}
{% block content %}



    <ul class="list-stages_LC">
        <li class="stage"><a href="{% url 'preliminary' %}">Предварительный этап</a></li>
        <li class="stage"><a href="{% url 'groups' %}">Групповой этап</a></li>
        <li class="stage"><a href="{% url 'finals' %}">Плей-офф</a></li>
    </ul>

    {% if start_years %}
        <form action="{% url 'groups' %}">
        <select name="years" onchange="this.form.submit()">
            <option>------</option>
            {% for year in start_years %}
                <option value="{{ year }}">{{ year }}/{{ year|summa:1 }}</option>
            {% endfor %}
        </select>
        </form>
    {% endif %}

{#    {% regroup data.matches by stage as matches_grouper %}#}
{#    {% for matches in matches_grouper %}#}
{#        {{ matches.grouper }}#}
{#        {% for match in matches.list %}#}
{#            <p>#}
{#            {% if not match.homeTeam.image %}#}
{#                {{ match.homeTeam.team_in_db }}#}
{#            {% else %}#}
{#                {{ match.homeTeam.team_in_db.fc_id_name_dictionary.club_name }}<img src="/media{{ match.homeTeam.image }}" width="30px"/>#}
{#            {% endif %}#}
{#            -#}
{#            {% if not match.awayTeam.image %}#}
{#                {{ match.awayTeam.team_in_db }}#}
{#            {% else %}#}
{#                <img src="/media{{ match.awayTeam.image }}" width="30px"/>{{ match.awayTeam.team_in_db.fc_id_name_dictionary.club_name }}#}
{#            {% endif %}#}
{#            {{ match.score.homeTeam }} - {{ match.score.awayTeam }}#}
{#            </p>#}
{#        {% endfor %}#}
{#    {% endfor %}#}

    {% if standings %}
        {% regroup standings by groups as groups_list %}
        <div class="listNameGroups">
        <p>Группы:
            {% for group in groups_list %}
                <input id="gr_{{ group.grouper }}" type="radio" value="{{ group.grouper }}" onclick="buttonClick (this)" style="display: none">
                <label id="lab" for="gr_{{ group.grouper }}" title="Группа {{ group.grouper }}">{{ group.grouper }} </label>
            {% endfor %}
        </p>
        </div>

        <div class="listGroups">
        {% for group in groups_list %}
            {% if forloop.first %}
                <div id="group {{ group.grouper }}" class="showed" >
            {% else %}
                <div id="group {{ group.grouper }}" class="" >
            {% endif %}
            <p align="center">Группа - {{ group.grouper }}</p>
            <table class="table_group_{{ group.grouper }}">
            <tr align="center">
                <th></th>
                <th></th>
                <th>И</th>
                <th>В</th>
                <th>Н</th>
                <th>П</th>
                <th>З</th>
                <th>П</th>
                <th>О</th>
            </tr>
            {% for team_in_group in group.list %}
                <tr>
                    <td><img src="/media/fc_logo/{{ team_in_group.team.num_image }}.png" width="30px"/></td>
                    <td width="300px">
                        <a href="/football/team/{{ team_in_group.team.fc_en_name }}/">
                            {{ team_in_group.team.fc_id_name_dictionary.club_name }} ({{ team_in_group.team.country.country_name }})
                        </a>
                    </td>
                    <td align="center">{{ team_in_group.played_games }}</td>
                    <td align="center">{{ team_in_group.won }}</td>
                    <td align="center">{{ team_in_group.draw }}</td>
                    <td align="center">{{ team_in_group.lost }}</td>
                    <td align="center">{{ team_in_group.goals_for }}</td>
                    <td align="center">{{ team_in_group.goals_against }}</td>
                    <td align="center">{{ team_in_group.points }}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% regroup matches by groups as matches_list %}
    {% for match in matches_list %}

        {% if forloop.first %}
            <div id="matches_group_{{ match.grouper }}" class="showed_matches" >
        {% else %}
            <div id="matches_group_{{ match.grouper }}" class="" >
        {% endif %}

        {% regroup match.list by time_match.date as matches_grouper %}

        {% for round_day in matches_grouper  %}
            <div class="game">
            <table class="table_games">
                <tr>{{ round_day.grouper }}</tr>
                <tr>{% for game in round_day.list %}
                    <td class="home_club">{{ game.home_team.fc_id_name_dictionary.club_name }}
                        <img src="/media/fc_logo/{{ game.home_team.num_image }}.png" width="20px"/>
                    </td>
                    <td class="match_result">
                        {% ifequal game.home_team_fulltime None %}
                            -:-
                        {% else %}
                            {{ game.home_team_fulltime }} : {{ game.away_team_fulltime }}
                        {% endifequal %}
                    </td>
                    <td class="away_club"><img src="/media/fc_logo/{{ game.away_team.num_image }}.png" width="20px"/>
                        {{ game.away_team.fc_id_name_dictionary.club_name }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <script src="{% static "js/groups.js" %}"></script>
{#    <script src="{% static "js/matches.js" %}"></script>#}
{% endblock %}

