{% extends "base.html" %}
{% load static %}
{% block content %}

    {% include "navigation_league.html" %}
    {% if not data %}
        <p>Здесь будет информация о матчах</p>
    {% else %}

    {% regroup data.matches by date as match_grouping_by_date %}

    {% for match_list in match_grouping_by_date %}
        <table>
        <caption>{{ match_list.grouper }}</caption>
        {% for match in match_list.list %}
            <tr>
            <td>
                {% if not match.homeTeam.image %}
                    {{ match.homeTeam.team }}
                {% else %}
                    <a href="/football/team/{{ match.homeTeam.team_in_db.fc_en_name }}">
                        {{ match.homeTeam.team_in_db.fc_id_name_dictionary.club_name }}
                        <img src="/media{{ match.homeTeam.image }}" width="30px"/>
                    </a>
                {% endif %}
            </td>
            <td>{{ match.score.homeTeam }} : {{ match.score.awayTeam }}</td>
            <td>
                {% if not match.awayTeam.image %}
                    {{ match.awayTeam.team }}
                {% else %}
                    <a href="/football/team/{{ match.awayTeam.team_in_db.fc_en_name }}">
                        <img src="/media{{ match.awayTeam.image }}" width="30px"/>
                        {{ match.awayTeam.team_in_db.fc_id_name_dictionary.club_name }}
                    </a>
                {% endif %}
            </td>
            {% endfor %}
            </tr>
        </table>
    {% endfor %}
    {% endif %}
{% endblock %}
