{% extends "base.html" %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/standing.css' %}"/>
{% endblock %}

{% block content %}

    {% include "navigation_league.html" %}

    {% if not table %}
        <p>Здесь будет отображена турнирная таблица</p>
    {% else %}
        <table class="standing">
        <caption>Турнирная таблица</caption>
        <tr>
            <th>Место</th>
            <th></th>
            <th>Название</th>
            <th>Игры</th>
            <th>Очки</th>
            <th>Мячи</th>
            <th>В</th>
            <th>Н</th>
            <th>П</th>
        </tr>
        {% for row in table %}
            <tr>
                <td>{{ row.position }}</td>
                <td>
                {% if row.team.image %}
                    <img src="/media{{ row.team.image }}" width="20px">
                {% endif %}
                </td>
                <td>
                {% if not row.team.team_in_db.fc_en_name %}
                    {{ row.team.team_in_db }}
                {% else %}
                    <a href="/football/team/{{ row.team.team_in_db.fc_en_name }}/">{{ row.team.team_in_db.fc_id_name_dictionary.club_name }}</a>
                {% endif %}
                </td>
                <td>{{ row.playedGames }}</td>
                <td>{{ row.points }}</td>
                <td>{{ row.goalsFor }} - {{ row.goalsAgainst }}</td>
                <td>{{ row.won }}</td>
                <td>{{ row.draw }}</td>
                <td>{{ row.lost }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}