{% extends "base.html" %}
{% load static %}
{% block content %}
{% if error %}
    <p>Вы не вошли в аккаунт. Для входа перейдите по <a href="{% url 'sign_in' %}">ссылке</a></p>
{% endif %}
<h4>{{ view_user.get_full_name }}</h4>

    {% if view_user.user_avatar %}
        <p>Тут должен быть загружен аватар</p>
    {% else %}
        <img src="{% static 'img/avatar.png' %}">
    {% endif %}

    <p>Email: {{ view_user.email }}</p>

    <p>Пол: {% if view_user.profile.gender %}
        {{ view_user.profile.gender }}
    {% else %}
        ---------
    {% endif %}</p>

    <p>Дата рождения:{% if view_user.profile.date_of_birth %}
        {{ view_user.profile.date_of_birth }}
    {% else %}
        ---------
    {% endif %}</p>

    <p>Страна: {% if view_user.profile.country %}
        {{ view_user.profile.country }}
    {% else %}
        ---------
    {% endif %}</p>

    <p>Город: {% if user.profile.city %}
        {{ user.profile.city }}
    {% else %}
        ---------
    {% endif %}</p>

    <p>О себе:{% if view_user.profile.about_me %}
        {{ view_user.profile.about_me }}
    {% else %}
        ---------
    {% endif %}</p>

    {% if user.is_authenticated %}
        {% ifequal user.email view_user.email %}
            <a href="{% url 'change_account' %}">Изменить</a>
        {% endifequal %}
    {% endif %}
    <p>Тут еще статистика профиля будет</p>
{% endblock %}