{% extends "base.html" %}
{% load static %}
<script src="{% static 'js/birth_day.js' %}"></script>
{% block content %}

    {% if error %}
    <p>{{ error }}</p>
{% endif %}

{% if form %}
    <form action="{% url 'account' %}" class="registr" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="field">
                    <label class="avatar">Загрузите аватарку</label>
                    {{ form.user_avatar }}
                </div>
                <div class="field">
                    <label class="first_name">Имя:</label>
                    {{ form.first_name }}
                </div>
                <div class="field">
                    <label class="last_name">Фамилия:</label>
                    {{ form.last_name }}
                </div>
                <div class="field">
                    <label class="date_of_birth">Дата рождения:</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="field">
                    <label class="gender">Пол:</label>
                    {{ form.gender }}
                </div>
                <div class="field">
                    <label class="country">Страна:</label>
                    {{ form.country }}
                </div>
                <div class="field">
                    <label class="city">Город:</label>
                    {{ form.city }}
                </div>
                <div class="field">
                    <label class="about_me">О себе:</label>
                    {{ form.about_me }}
                </div>
                <input type="submit" value="Сохранить" class="button">
            </form>
{% endif %}

{% endblock %}