html, body {
    background-color: #E9EBFF;
    font: 14pt 'Oswald', sans-serif;
    margin: 0 0;
}

header {
    background-color: #23b411;
    width: 100%;
    min-height: 90px;
    position: relative;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.img_logo {
    float: left;
}

.logo_text {
    float: left;
    -webkit-filter: drop-shadow(-5px -5px 5px #797979);
    filter: drop-shadow(-5px -5px 5px #797979);
}

.logo_text_a {
    color: #333333;
    font-size: 55pt;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.img_logo img {
    width: 125px;
    height: 125px;
    -webkit-filter: drop-shadow(-5px -5px 5px #222);
    filter: drop-shadow(-5px -5px 5px #222);
}

.user {
    float: right;
}

.user p {
    margin: 0 10px 0 0;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 10pt;
}

.user form {
    float: left;
    margin-right: 5px;
}

nav {
    background-color: #333333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    padding: 7px 10px 6px 10px;
    line-height: 35px;
    /*-moz-border-radius: 2px; !* Firefox *!*/
    /*-webkit-border-radius: 2px; !* Safari 4 *!*/
    /*border-radius: 5px; !* IE 9, Safari 5, Chrome *!*/
    /*margin-right: -4px;*/
    /*text-align: center;*/
    text-decoration: none;
    color: #f8f8f8;
    /*background: -moz-linear-gradient(#333333, #666666);*/
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#666666));*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');*/
    background: #333333;
}

nav ul li a:hover {
    background: -moz-linear-gradient(#666666, #333333);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333333));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
}

input.but {
    font: 12pt DialogInput;
    color: #f8f8f8;
    border: 1px #111111 solid;
    padding: 2px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 4 */
    border-radius: 5px; /* IE 9, Safari 5, Chrome */
    background: -moz-linear-gradient(#666666, #333333);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333333));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1AA3D6', endColorstr='#2235B4');
    outline: none;
}

input.but:active {
    background: -moz-linear-gradient(#333333, #666666);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#666666));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2235B4', endColorstr='#1AA3D6');
}

.content {
    padding: 0 15px;
    margin: 0 auto;
    min-height: 750px;
}

footer {
    height: 150px;
    background: #333333;
}

