body {
    background-color: #f8f8f8;
    margin: 0 0;
}

header {
    background-color: #23b411;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.login {
    color: #f8f8f8;
    border: 0;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 4 */
    border-radius: 5px; /* IE 9, Safari 5, Chrome */
    background: -moz-linear-gradient(#1AA3D6, #2235B4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1AA3D6), to(#2235B4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1AA3D6', endColorstr='#2235B4');
    outline: none;
}

button.login :active {
    /*color: #f8f8f8;*/
    /*-moz-border-radius:  5px; !* Firefox *!*/
    /*-webkit-border-radius:  5px; !* Safari 4 *!*/
    /*border-radius:  5px; !* IE 9, Safari 5, Chrome *!*/
    background: -moz-linear-gradient(#B42C43, #2235B4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#B42C43), to(#1AA3D6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B42C43', endColorstr='#2235B4');
}

.container {
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
    text-align-last: center;
}
.main {
    background-color: mintcream;
    height: 300px;
}

.foot {
    height: 50px;
}

nav {
    text-align-last: left;
}