<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sport-league</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    {% block extra_head %}{% endblock %}
</head>
<body>
<header>
    <div class="wrapper">
        <div class="img_logo">
            <a href="{% url 'index' %}" ><img src="{% static "img/balls_logo.png" %}"></a>
        </div>
        <div class="logo_text">
            <a href="{% url 'index' %}" class="logo_text_a">Sport-league</a>
        </div>
        <div class="user">
            {% if user.is_authenticated %}
                <p>Вы вошли как, <a href="{% url 'account' %}">{{ user.get_full_name}}</a></p>
                <form action="{% url 'logout' %}">
{#                    {% csrf_token %}#}
                    <input type="submit" class="but" value="Выйти">
                </form>
            {% else %}
                <p>Здравтсвуйте, Гость</p>
                <div class="form_reg_log">
                <form action="{% url 'sign_in' %}">
{#                    {% csrf_token %}#}
                    <input type="submit" class="but" value="Войти">
                </form>
                <form action="{% url 'sign_up' %}">
{#                    {% csrf_token %}#}
                    <input type="submit" class="but" value="Регистрация">
                </form>
                </div>
            {% endif %}
    {#        отображать кнопки если пользователь не авторизован иначе пользователя#}

        </div>
    </div>
</header>
 <nav>
     <ul>
         <li><a href="{% url 'index' %}">Главная</a></li>
         <li><a href="{% url 'news' %}">Новости</a></li>
         {% if user.is_authenticated %}
            <li><a href="{% url 'users' %}">Участники</a></li>
         {% endif %}
         <li><a href="{% url 'abouts' %}">О нас</a></li>
         <li><a href="{% url 'contacts' %}">Контакты</a></li>
     </ul>
 </nav>

    <div class="wrapper">
        <div class="widget">
            <div class="sport">
                <h5 class="widget-title">Футбол</h5>
                <ul class="widget-list">
                    <li class="championship"><a href="{% url 'all_team' %}">Лига<br>Чемпионов</a></li>
                    <li class="championship"><a href="/">Лига<br>Европы</a></li>
                    <li class="championship"><a href="/" >Чемпионат<br>Украины</a></li>
                    <li class="championship"><a href="/">Чемпионат<br>Англии</a></li>
                    <li class="championship"><a href="/">Чемпионат<br>Испании</a></li>
                    <li class="championship"><a href="/">Чемпионат<br>Италии</a></li>
                    <li class="championship"><a href="/">Чемпионат<br>Германии</a></li>
                </ul>
            </div>
            <div class="sport">
                <h5 class="widget-title">Хоккей</h5>
                <ul class="widget-list">
                    <li class="championship"><a href="/">НХЛ</a></li>
                    <li class="championship"><a href="/">КХЛ</a></li>
                </ul>
            </div>
            <div class="sport">
                <h5 class="widget-title">Теннис</h5>
                <ul class="widget-list">
                    <li class="championship"><a href="/">Australian Open</a></li>
                    <li class="championship"><a href="/">Большой шлем</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            {% block content %}
                <p>Это главная страница. Здесь что-то будет</p>
            {% endblock %}
        </div>
        <div class="column">
        <div class="ad">
            <h5>Здесь могла быть Ваша реклама</h5>
            <h5>Здесь могла быть Ваша реклама</h5>
            <h5>Здесь могла быть Ваша реклама</h5>
            <h5>Здесь могла быть Ваша реклама</h5>
            <h5>Здесь могла быть Ваша реклама</h5>
        </div>
        <div class="comments">
            <h5>Комментрии</h5>
            <p>Отображение 5 послединих комментариев</p>
        </div>
    </div>
</div>


<footer>
    <div class="wrapper">
        Это подвал
    </div>
</footer>

</body>
</html>