<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sport-league</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bases.css" %}" />
</head>
<body>
<header>
    <div class="head">
    <div class="container">
        <a href="/" class="logo">Sport-league</a>
{#        отображать кнопки если пользователь не авторизован иначе пользователя#}
            <form action="/user/login">
                <input type="submit" class="login" value="Вход">
            </form>
            <form action="/user/registration">
                <input type="submit" class="login" value="Регистрация">
            </form>
        <nav>
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/abouts">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
          </ul>
        </nav>
    </div>
    </div>
</header>
{% block content %}
<div class="main">
    <p>Это главная страница. Здесь что-то будет</p>
</div>
{% endblock %}

<footer class="foot">

</footer>

</body>
</html>