{% extends "base.html" %}

{% block content %}
    <h2>Про сайт</h2>

    <p>Этот сайт разрабатывается для автоматизации процесса обработки ставок сделанных зарегистрированными
    участниками различных турниров</p>

    <p>Данные матчей будут браться с использованием свободных API с различных ресурсов</p>

    <p>Участнику до начала матча (поединка, раунда и т.п.) предоставляется возможность выполнить ставку
    во время матча и после сделать ставку нельзя.</p>

    <p>Происходит подсчет результатов и вытсраивается своеобразная турнирная таблица среди участников</p>

{% endblock %}