{% extends "base.html" %}

{% block content %}
    <h2>Зенит близок к завершению трансфера защитника Шахтера Ярослава Ракицкого.</h2>

    <p>Как сообщает Спорт-Экспресс, сегодня украинский центрбек присоединился к "сине-бело-голубым"
        в тренировочном лагере и успешно прошел медосмотр. Ожидается, что представление новичка
        состоится в Петербурге между первым и вторым сбором команды.</p>

    <p>Ракицкий приступит к работе с новым клубом на втором сборе в Испании, который состоится
        с 1 по 10 февраля.</p>

    <p>Ранее сообщалось, что Зенит согласовал детали перехода с Шахтером и заплатит за защитника
        12 миллионов евро с учетом бонусов.</p>

    <p>Новость взята с сайта <a href="http://football.ua">Football.ua</a></p>

{% endblock %}