<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sport-league</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
</head>
<body>
<div class="login">
<p>Это страница входа</p>
<a href="/">На главную</a>
{% if name %}
    Здравствуйте, {{ name }}!
{% else %}
    {% if form.errors %}
        {% for error in form.errors  %}
            <li>{{ error }}</li>
        {% endfor %}
    {% else %}
        Здравствуйте, Гость!
    {% endif %}
{% endif %}

{% if message %}
    {{ message }}
{% endif %}

{% if time_error %}
    {{ time_error }}
{% endif %}

{% if form %}
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="field">
            {{ form.email.errors }}
            <label id="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.first_name.errors }}
            <label id="id_last_name">Пароль:</label>
            {{ form.password }}
        </div>
        <input type="submit" value="Войти">
    </form>
    <a href="{% url 'login' %}">Забыли пароль?</a>
{% endif %}
</div>
</body>